In [5]:
import pandas as pd

all_df = {}
for N in [1,2,3]:
  # file_dict = {
  #   # 'E-Coli model'      : f"/home/tlp5359/projects/CC_Sequencing_LLM/BCB/inference-results/KCYM/E-Coli-to-others/UniRef100-F{N}.json",
  #   # 'E-Coli model-7k'      : f"/home/tlp5359/projects/CC_Sequencing_LLM/BCB/inference-results/KCYM/E-Coli-to-others-cp7000/UniRef100-F{N}.json",
    
  #   # 'E-Coli model'      : f"/home/tlp5359/projects/CC_Sequencing_LLM/BCB/inference-results/KCYMRHWST/E-Coli-to-others/UniRef100-F{N}.json",
  #   # 'E-albertii model'  : f"/home/tlp5359/projects/CC_Sequencing_LLM/BCB/inference-results/KCYMRHWST/E-albertii-to-others/UniRef100-F{N}.json",
  #   # 'E-fergusonii model': f"/home/tlp5359/projects/CC_Sequencing_LLM/BCB/inference-results/KCYMRHWST/E-fergusonii-to-others/UniRef100-F{N}.json",
  #   }
  file_dict = {
    'E-Coli model'      : f"/home/tlp5359/projects/CC_Sequencing_LLM/BCB/inference-results/KCYM/E-Coli-to-others/UniRef100-F{N}.json",
    'E-albertii model'  : f"/home/tlp5359/projects/CC_Sequencing_LLM/BCB/inference-results/KCYM/E-albertii-to-others/UniRef100-F{N}.json",
    'E-fergusonii model': f"/home/tlp5359/projects/CC_Sequencing_LLM/BCB/inference-results/KCYM/E-fergusonii-to-others/UniRef100-F{N}.json",
    }
  df = None
  for k, v in file_dict.items():
    if df is None:
      df = pd.read_json(v).groupby('seq_label')['Matching Percentage'].mean().reset_index().rename(columns={'Matching Percentage': k})
    else:
      tmp_df = pd.read_json(v).groupby('seq_label')['Matching Percentage'].mean().reset_index().rename(columns={'Matching Percentage': k})
      df = pd.merge(df,tmp_df, on='seq_label', how='right')
  all_df[N] = df

In [6]:
all_df[1]

      seq_label  E-Coli model  E-albertii model  E-fergusonii model
0        E-Coli     72.950495         51.185688           45.315120
1    E-albertii     64.477440         88.202777           49.588106
2  E-fergusonii     59.759614         50.140109           88.241437

In [7]:
import numpy as np
stacked = np.stack([ df.iloc[:,1:] for df in all_df.values()])
average_df = pd.DataFrame(np.mean(stacked, axis=0), columns=all_df[1].columns[1:])
average_df.insert(0, 'Inference set', all_df[1]['seq_label'])
stdev_df = pd.DataFrame(np.std(stacked, axis=0), columns=all_df[1].columns[1:])
stdev_df.insert(0, 'Inference set', all_df[1]['seq_label'])
average_df

  Inference set  E-Coli model  E-albertii model  E-fergusonii model
0        E-Coli     73.526218         51.380126           45.218273
1    E-albertii     65.154413         88.458848           50.158853
2  E-fergusonii     60.064050         50.611676           88.333529

In [8]:
stdev_df

  Inference set  E-Coli model  E-albertii model  E-fergusonii model
0        E-Coli      0.487276          0.167882            0.093352
1    E-albertii      0.485267          0.182074            0.643576
2  E-fergusonii      0.349216          0.342890            0.153033

NameError: name 'pd' is not defined