In [4]:
import pandas as pd

all_df = {}
for N in [1,2,3]:
  file_dict = {
    'E-Coli model'      : f"/home/tlp5359/projects/CC_Sequencing_LLM/BCB/inference-results/KCYMRHWST/E-Coli-to-others/UniRef100-F{N}.json",
    'E-albertii model'  : f"/home/tlp5359/projects/CC_Sequencing_LLM/BCB/inference-results/KCYMRHWST/E-albertii-to-others/UniRef100-F{N}.json",
    'E-fergusonii model': f"/home/tlp5359/projects/CC_Sequencing_LLM/BCB/inference-results/KCYMRHWST/E-fergusonii-to-others/UniRef100-F{N}.json",
    }
#   file_dict = {
#     'E-Coli model'      : f"/home/tlp5359/projects/CC_Sequencing_LLM/BCB/inference-results/KCYM/E-Coli-to-others/UniRef100-F{N}.json",
#     'E-albertii model'  : f"/home/tlp5359/projects/CC_Sequencing_LLM/BCB/inference-results/KCYM/E-albertii-to-others/UniRef100-F{N}.json",
#     'E-fergusonii model': f"/home/tlp5359/projects/CC_Sequencing_LLM/BCB/inference-results/KCYM/E-fergusonii-to-others/UniRef100-F{N}.json",
#     }
  df = None
  for k, v in file_dict.items():
    print(k,N)
    if df is None:
      df = pd.read_json(v).groupby('seq_label')['Matching Percentage full'].mean().reset_index().rename(columns={'Matching Percentage full': k})
    else:
      tmp_df = pd.read_json(v).groupby('seq_label')['Matching Percentage full'].mean().reset_index().rename(columns={'Matching Percentage full': k})
      df = pd.merge(df,tmp_df, on='seq_label', how='right')
  all_df[N] = df

E-Coli model 1
E-albertii model 1
E-fergusonii model 1
E-Coli model 2
E-albertii model 2
E-fergusonii model 2
E-Coli model 3
E-albertii model 3
E-fergusonii model 3

In [ ]:
all_df[1]

In [5]:
import numpy as np
stacked = np.stack([ df.iloc[:,1:] for df in all_df.values()])
average_df = pd.DataFrame(np.mean(stacked, axis=0), columns=all_df[1].columns[1:])
average_df.insert(0, 'Inference set', all_df[1]['seq_label'])
stdev_df = pd.DataFrame(np.std(stacked, axis=0), columns=all_df[1].columns[1:])
stdev_df.insert(0, 'Inference set', all_df[1]['seq_label'])
average_df

  Inference set  E-Coli model  E-albertii model  E-fergusonii model
0        E-Coli     88.964725         79.495870           76.163506
1    E-albertii     88.258093         95.629446           80.640847
2  E-fergusonii     86.283055         81.458669           95.690066

In [6]:
stdev_df

  Inference set  E-Coli model  E-albertii model  E-fergusonii model
0        E-Coli      0.303821          0.233000            0.122580
1    E-albertii      0.290582          0.036691            0.435396
2  E-fergusonii      0.317758          0.125204            0.082298